body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game-container {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-area {
    width: 600px;
}

#game-selections {
    display: flex;
    justify-content: space-evenly;
    padding: 64px 0;
}

.game-selection {
    border: 2px solid white;
    border-radius: 0.5em;
}

#footer-container {
    justify-self: flex-end;
}

img {
    width: 8em;
}